<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body>
    <div class="page connection-page">
        <header>
            {% include header.liquid %}
        </header>
        <main>
            <ilw-hero shadow="true" alwayson="true"><img src="/img/connections/pattern.jpg" alt="" slot="background">
            <h1>{{ pageTitle }}</h1>
            <ul class="ilw-buttons ilw-theme-orange-2">
                <li><a href="/addressing-perinatal-mental-health/index.html">Innovation</a></li>
                <li><a href="/what-happens/index.html">Discovery</a></li>
                <li><a href="/bringing-justice/index.html">Momentum</a></li>
                <li><a href="/indigenous-leadership/index.html">Community</a></li>
            </ul>
            </ilw-hero>
            <ilw-content class="connection">
                <img src="/img/connections/color_block_I.jpg" alt="">
                <h2 class="inn"><span role="presentation" class="dot"></span>Connection through INNOVATION</h2>
                <p>We invite diverse perspectives to solve complex problems and build on our collective strenths.</p>
                <h2 class="dis"><span role="presentation" class="dot"></span>Connection through DISCOVERY</h2>
                <p>We nurture the exploration of passion and purpose to create authentic foundations for meaningful impact.</p>
                <h2 class="mom"><span role="presentation" class="dot"></span>Connection through MOMENTUM</h2>
                <p>We leverage our research and partnerships to drive change in the state, nation, and world.</p>
                <h2 class="com"><span role="presentation" class="dot"></span>Connection through COMMUNITY</h2>
                <p>We build pathways to belonging that celebrate our shared commitment to making the world a better place.</p>
            </ilw-content>
            <div style="display: flex; justify-content: center;">
            <img style="width: 200px; margin: 50px;" src="/img/connections/high_five.jpg" alt="Two cartoon characters giving high-fives">
            </div>
            <ilw-columns width="page">
                <ilw-statistic class="orange"><span slot="stat">100%</span> 100% of our strategic initiatives address issues of access and equity.</ilw-statistic>
                <ilw-statistic class="orange"><span slot="stat">2M</span> Two million Illinois K-12 students are served annually by our graduates as teachers, leaders, and policymakers.</ilw-statistic>
            </ilw-columns>
            
            <ilw-columns width="page">
                <ilw-statistic class="orange"><span slot="stat">27K+</span> Over 27 thousand Illinois families are served each day by our early intervention systems.</ilw-statistic>
                <ilw-statistic class="orange"><span slot="stat">33%</span> 33% of our tenure-system faculty are PI on interdisciplinary, externally funded research, collaborating across campus and beyond.</ilw-statistic>
            </ilw-columns>
            
            {% include arrows.liquid %}
        </main>
        {% include footer.liquid %}
    </div>
    </body>
</html>