<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body class="{{ bodyClass }}">
    <div class="page">
        <header>
            {% include header_spring25.liquid %}
        </header>
        <main class="cover">
            {{ content }}
            {% include arrows_spring25.liquid %}
        </main>
        {% include footer.liquid %}
    </div>
    </body>
</html>