<div class="footer">
<il-footer>
  <a slot="primary-unit" href="https://education.illinois.edu">College of Education</a>
  <a slot="site-name" href="/">2024 Impact Report</a>
  <address slot="address">
    <div>1310 S. Sixth St</div>
    <div>Champaign, IL 61820-6925</div>
    <div>Phone: 217-333-0960</div>
  </address>
  <div slot="actions">
    <a href="https://give.education.illinois.edu">Give</a>
  </div>
  <nav slot="social" aria-label="Social media">
    <ul>
        <li><a data-service="instagram" href="https://www.instagram.com/educationillinois/"></a></li>
        <li><a data-service="facebook" href="https://www.facebook.com/educationatillinois?ref=ts"></a></li>
        <li><a data-service="twitter" href="https://twitter.com/EDUatIllinois"></a></li>
        <li><a data-service="youtube" href="https://www.youtube.com/user/educationatillinois"></a></li>
        <li><a data-service="linkedin" href="https://www.linkedin.com/company/education-at-illinois/"></a></li>
    </ul>
  </nav>
  <nav aria-label="Campus Footer Links" class="footer-links">
    <h2>Explore:</h2>
    <ilw-columns>
    <ul>
      <li><a href="https://education.illinois.edu/directory">Directory</a></li>
      <li><a href="https://education.illinois.edu/programs">Programs</a></li>
      <li><a href="https://education.illinois.edu/research">Research, Centers, and Initiatives</a></li>
      <li><a href="https://education.illinois.edu/available-positions">Employment Opportunities</a></li>
      <li><a href="https://education.illinois.edu/about/news-events/news">News</a></li>
      <li><a href="https://education.illinois.edu/about/news-events/events">Events</a></li>
    </ul>
    <ul>
      <li><a href="http://map.illinois.edu/view?ACTION=MAP&amp;buildingId=160">Map</a></li>
      <li><a href="https://impactreport.education.illinois.edu/">Impact Report</a></li>
      <li><a href="https://internal.education.illinois.edu">Internal.Education</a></li>
      <li><a href="https://internal.education.illinois.edu/college-committees">College Committees</a></li>
      <li><a href="https://help.uillinois.edu/TDClient/44/Portal/KB/ArticleDet?ID=2457">College of Education Policies</a></li>
    </ul>
    </ilw-columns>
  </nav>
</il-footer>
</div>