<div class="footer">
<ilw-footer>
  <a slot="primary-unit" href="https://occrl.illinois.edu/">Office of Community College Research and Leadership</a>
  <a slot="site-name" href="/">UPDATE Report</a>
  <address slot="address">
    <div>Phone: 217-244-9390</div>
    <div>Email: <a href="mailto:occrl@illinois.edu">occrl@illinois.edu</a></div>
  </address>
  <nav slot="social" aria-label="Social media">
    <ul>
      <li><a data-service="facebook" href="https://www.facebook.com/people/Office-of-Community-College-Research-and-Leadership/100092361213456/"></a></li>
      <li><a data-service="twitter" href="http://twitter.com/occrl"></a></li>
      <li><a data-service="youtube" href="https://www.youtube.com/channel/UCZSxVqb0Gx5j4kT3o_Lm7Mg"></a></li>
      <li><a data-service="linkedin" href="https://www.linkedin.com/company/office-of-community-college-research-and-leadership"></a></li>
      <li><a data-service="instagram" href="https://www.instagram.com/theoccrl/"></a></li>
    </ul>
  </nav>
  <nav aria-label="Campus Footer Links" class="footer-links">
    <h2>Explore:</h2>
    <ilw-columns>
      <div>
        <h2>Champaign Office</h2>
        <ul>
           <li>2202 Kirk Drive</li>
           <li>MC-672</li>
           <li>Champaign, IL 61820</li>
        </ul>
      </div>
      <div>
         <h2>Chicago Office</h2>
         <ul>
              <li>Illini Center</li>
              <li>200 S. Wacker Drive, 19th Floor</li>
              <li>MC-200</li>
              <li>Chicago, IL 60606</li>
              <li><a href="http://www.illinicenter.illinois.edu/" style="display: inline-block;">Illini Center Website</a></li>
         </ul>
      </div>
    </ilw-columns>
  </nav>
</ilw-footer>
</div>