<a href="https://occrl.illinois.edu/" style="display: block; padding-right: 20px;"><img id="header-image" src="/winter24/img/header.webp" alt="OCCRL"/></a>
<p><a href="/index.html">OCCRL Update</a></p>
{% include menu.liquid %}