body .page .dean-intro {
    img {
        height: 4.5625rem;
        margin-bottom: 1.25rem;
    }
    h2 {
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.375rem;
        text-transform: uppercase;
        max-width: 600px;
        margin: auto;
        font-family: var(--il-font-heading);
        margin-bottom: 1.25rem;
    }

    p {
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem; /* 128% */
        max-width: 600px;
        margin: auto;
    }
}

.dean-illinois {
    border-top: 1px solid var(--il-orange);
    margin-top: 20px;
    padding-top: 20px;
}

p.illinois {
    width: 120px;
    margin: auto;
    margin-top: 20px;
}

@media (min-width: 800px) {
    .dean-left {
        max-width: 400px;
        float: left;
        width: 40%;
        padding: 0 20px 20px 0;
        margin: 0;
    }

    .dean-illinois {
        float: left;
        padding-right: 40px;
    }

    p.illinois {
        float: left;
        padding-right: 30px;
    }
}
