header {
    border-bottom: 5px solid var(--il-orange);
    padding: 40px;
    img#header-image {
        max-width: 100%;
        width: 294px;
    }
    p {
        color: var(--il-blue--il-blue, #13294b);
        font-family: var(--il-font-sans);
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8125rem;

        a {
            color: var(--il-blue--il-blue, #13294b);
            text-decoration: none;
            font-family: var(--il-font-sans);
        }
    }
    p.menu-share {
        margin-left: 1rem;
        font-size: 1.4rem;
        margin-bottom: 0;
    }
    .menu-share-links {
        margin-left: 1rem;
        display: flex;
        column-gap: 5px;
        margin-bottom: 40px;

        a {
            padding: 0;
        }
    }

}

@media (min-width: 800px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: var(--menu-width);
        padding: 0;
        border-bottom: none;
        height: 100%;
        background: var(--heading-background);
        border-right: 2px solid #d5d3d3;
        overflow-y: auto;
        overflow-x: hidden;

        p {
            display: none;
        }

        p.menu-share {
            display: block;
        }

        img#header-image {
            padding-left: 20px;
            width: calc(var(--menu-width) - 20px);
            border-bottom: 5px solid var(--il-orange);
            background: white;
        }
    }
}
