body .page p.what-happens-subtitle {
    font-size: 2.5rem;
    line-height: 2.875rem;
    color: var(--il-orange);
    font-family: var(--il-font-heading);
    font-weight: bold;
    display: inline;
}

body .page h1.what-happens-title {
    margin-bottom: 1rem;
    display: inline;
}